@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i');

$orange: #f15c22;
$grey: #7e8082;
$white: #FFF;
$green: #82cec9;
$grey-blue: #ecf6fe;
$black: #1f1f1f;
$black-off-black: #3c3c3c;
$white-green: #e6f5f4;
$white-off-white: #fef9f7;
$light-grey: #e5e6e6;
$medium-grey: #e3e3e3;

$font-main: 'Muli', sans-serif;

$secondary-color: $orange;
$default-font-color: $grey;
$dark-font-color: $black;
$icon-font-color: $black-off-black;

$background-color: $white;
$background-hi-contrast-color: $grey-blue;
$background-med-contrast-color: $white-green;
$background-low-contrast-color: $white-off-white;
$background-shipping: $medium-grey;
$background-order-free: $green;
$background-footer: $green;

$screen-size-phone: 640px;
$screen-size-tablet: 768px;
$screen-size-desktop: 992px;
$screen-size-desktop-mid: 1200px;
$screen-size-desktop-large: 1500px;
$screen-size-hires: 1920px;

$margins-phone: 20px;


