.footer {
	background-color: $background-footer;
	border-top: 1px solid white;
	position: relative;
	padding: 10px;

	p {
		text-align: center;
		color: white;

		@include break($screen-size-desktop) {
			width: initial;
		}
	}
}